.container{
	position: absolute;
	top: 30%;
	left: 50%
	transform: translate(-50%, -50%);
	text-align: center;
}
body {
	margin: 0;
	padding: 0;
	background: url(background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}
.halaman {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: 270px;
}